---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Skills from "../components/Skills.astro";
import CV from "../components/CV.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header slot="header" />
  <div class="content" slot="content">
    <div id="hero">
      <Hero />
    </div>
    <div id="plant" class="flex-center">
      <img src="/portfolio/plant.webp" alt="" />
    </div>
    <div id="bee" class="flex-center">
      <img src="/portfolio/bee.webp" alt="" />
    </div>
    <div id="social">
      <Contact />
    </div>
    <div id="projects">
      <Projects />
    </div>
    <div id="cat" class="flex-center">
      <img src="/portfolio/cat.webp" alt="" />
    </div>
    <div id="skills">
      <Skills />
    </div>
    <div id="resume">
      <CV />
    </div>
  </div>
  <Footer slot="footer" />
</Layout>

<style>
  #hero,
  #social,
  #projects,
  #skills,
  #resume {
    scroll-margin-top: 100px;
  }

  .content {
    display: grid;
    gap: 2rem;
    margin: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  #hero {
    grid-column: span 3 / span 3;
  }

  #social {
    grid-column: 3 / span 6;
  }

  #projects {
    grid-column: span 4;
  }

  #skills {
    grid-column: 3 / span 6;
  }

  #resume {
    grid-column: 2 / 4;
  }

  #plant {
    grid-column: 4 / span 6;
    width: 100%;
    img {
      width: 16rem;
    }
  }

  #bee {
    grid-column: span 2;
    img {
      width: 8rem;
    }
  }

  #cat {
    grid-column: 1 / span 2;
    img {
      width: 20rem;
    }
  }

  @media (max-width: 768px) {
    #cat,
    #plant,
    #bee {
      display: none;
    }

    #hero,
    #social,
    #social,
    #projects,
    #skills,
    #resume {
      grid-column: span 4;
    }
  }
</style>
