---
import "../styles/global.css";
import Card from "../layouts/Card.astro";
import LinkButton from "./LinkButton.astro";
import FloppyDiskIcon from "phosphor-astro/FloppyDisk.astro";
---

<section>
  <Card direction="left">
    <div class="resume-container flex-center flex-column">
      <h1>Want to know more about me ?</h1>
      <LinkButton
        href="Resume_Louis_PAINTER.pdf"
        target="_blank"
        type="application/pdf"
      >
        <FloppyDiskIcon />
        <p>Download my resume</p>
      </LinkButton>
    </div>
  </Card>
</section>

<style>
  .resume-container {
    text-align: center;
    padding-bottom: 1rem;
  }
</style>
