---
import "../styles/global.css";
import Card from "../layouts/Card.astro";
---

<section>
  <Card direction="left">
    <div class="hero flex-center">
      <img src="profile.jpg" alt="Profile picture" />
      <div>
        <h1>Louis Painter</h1>
        <p>
          Hi, I'm a French enthusiast who loves building software, listening to
          music, and caring for our planet.
        </p>
      </div>
    </div>
  </Card>
</section>

<style>
  .hero {
    text-align: center;
    gap: 4rem;
    padding: 2rem;
  }

  img {
    width: 12rem;
    border-radius: 10px;
  }

  @media (max-width: 800px) {
    .hero {
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;
    }
  }
</style>
