---
import "../styles/global.css";
import Card from "../layouts/Card.astro";
---

<section>
  <Card direction="right">
    <div class="skills flex-center flex-column">
      <h1>Just a glimpse into my toolbox.</h1>
      <p>How many can you recognize ?</p>

      <div class="skills-items flex-center">
        <div>
          <img src="git-original.svg" alt="git" />
        </div>
        <div>
          <img src="unity-plain.svg" | alt="unity" />
        </div>
        <div>
          <img src="typescript-original.svg" alt="typescript" />
        </div>
        <div>
          <img src="go-original.svg" alt="go" />
        </div>
        <div>
          <img src="kotlin-original.svg" alt="kotlin" />
        </div>
        <div>
          <img src="linux-original.svg" alt="linux" />
        </div>
        <div>
          <img src="react-original.svg" alt="react" />
        </div>
        <div>
          <img src="blender-original.svg" alt="blender" />
        </div>
        <div>
          <img src="docker-original.svg" alt="docker" />
        </div>
        <div>
          <img src="jira-original.svg" alt="jira" />
        </div>
      </div>
    </div>
  </Card>

  <style>
    .skills {
      text-align: center;
    }

    .skills-items {
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 1rem;
      text-align: left;
      width: 100%;
      max-width: 16rem;

      p {
        font-family: "Merriweather", serif;
      }

      img {
        width: 3rem;
        height: 100%;
      }
    }
  </style>
</section>
