---
import "../styles/global.css";
interface Props {
  direction?: "left" | "right";
}

const { direction } = Astro.props;
const shadowDirection = direction === "right" ? "3px 5px" : "-3px 5px";
---

<div class="card flex-center flex-column">
  <slot />
</div>

<style
  define:vars={{
    shadowDirection,
  }}
>
  .card {
    background-color: var(--color-background);
    border-radius: var(--border-radius-sm);
    border: 2px solid var(--color-border);
    box-shadow: var(--shadowDirection) var(--color-border);
    padding: var(--spacing-xs);
  }
</style>
